body, html {
  font-family:"Lexend";
  font-size: 14px;
  line-height: 2;
  font-weight: 100;
  height: 100%;
  text-align: left; }

  
  
  h1 {
    
    color: hwb(0 100% 0%);
  }
  h2.sub-heading { 
    padding-bottom:3px;
    color: #F8EE45;
  }

h4 {
padding-top: 10px;
  color: #9695a3
}



h4.resume {
color: #1D438A ;  
}

hr {
  margin-top: 25px;
  margin-bottom: 25px; }

a {
  color: #1D438A ;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: color 0.5s ease 0s;
  -moz-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s; }

p {
  font-family: baskerville;
  font-size: 14px;
  color: #000000;
  padding:  2px 20px 15px 2px;
  
  
  line-height: 1.6;
}
.container-md
{
  background-color: #F8EE45;
  border-radius: 50px 20px;
}



a:hover, a:focus {
  color: #a2afb3;
  text-decoration: none; }

.navbar-fixed-top {
  background-color: rgba(255, 255, 255, 0.8);
  border: none; }

.navbar-toggle {
  padding: 0;
  margin-bottom: 0;
  color: #F8EE45; ; }

.navbar-brand {
  padding-top: 15px; }

/*Section Intro*/
.intro {
  border-top: 10px;
  color: white;
  padding-bottom: 4em;
  overflow: hidden;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.intro::before {
  content: ' ';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(60, 56, 142, 0.8);
  background: url("../img/pic2.jpg") no-repeat center center;
  background-size: cover;
  will-change: transform;
  z-index: -1; }

.intro .intro-body {
  display: table-cell;
  vertical-align: middle; }

.intro .intro-body .brand-heading {
  font-size: 64px; 
}
.h1.brand-heading {
text-transform: uppercase;}
.p.brand-heading
{
text-transform: uppercase;
padding: 18px 0px 0px 2px}

.intro .intro-body .intro-text {
  font-size: 18px;
  color: #a9a9a9; }

/* Section About*/
section {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  background: rgba(255, 255, 255, 0.96);
  position: relative;
  z-index: 3;
  -webkit-backface-visibility: hidden; }

.thumb-middle {
  border-radius: 50%;
  height: auto;
  position: relative;
  text-align: center;
  width: 300px;
  display: block;
  margin: -250px auto 90px; }

.linda {
  text-align: center;
  color: black; }

.linda .space {
  width: 150px;
  height: 2px;
  background-color: black;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px; }






/*cited*/
section#cited {
  width: 100%; 
        text-align: center; 
        color: #ffda44; 
        background-color: #3c388e;
        font-size: 36px; 
        font-family: KoHo; 
        font-style: italic; 
        font-weight: 400; 
        text-transform: capitalize; line-height: 55px; 
        word-wrap: break-word;
}
div .cited { width: 100%; 
        height: 100%; 
        text-align: center; 
        color: #5000FF; 
        width: 1956px; height: 450px; left: 0px; top: 0px; position: absolute; 
        background-color: #14D3F0;
        font-size: 36px; 
        font-family: KoHo; 
        font-style: italic; 
        font-weight: 400; 
        text-transform: capitalize; line-height: 55px; 
        word-wrap: break-word;} 

/*Section CV*/
.cv-wrapper {
  padding-bottom: 50px; }

.cv-wrapper h3 {
  margin-top: 0px; }

.cv-wrapper .cv:nth-child(even) {
  padding-top: 90px; }

.cv-wrapper .cv .main {
  text-align: justify; }

.cv-wrapper .cv .date .fa,
.cv-wrapper .cv .main .fa {
  color: #ddd;
  font-size: 14px; }

.date {
  color: #ddd;
  font-size: 14px; }

.space {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px; }

small {
  color: silver;
  font-family: "Montserrat",Helvetica,Arial,sans-serif; }

/* Section Contact*/
#contact {
  background: #F8EE45;
  color: hsl(0, 0%, 0%); }

#contact h2 {
  margin-top: 0;
  color: #000000; }

#contact h3 {
  font-weight: 700;
  color: #000
  ; }

#contact .hero h2 {
  color: #AA9159; }

#contact .hero p {
  color: white; }



#contact input,
#contact textarea {
  background: none repeat scroll 0 0 #27292e;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  height: auto;
  margin: 0;
  padding: 15px;
  resize: none; }

#contact .form-group {
  margin-bottom: 5px; }

#contact address {
  margin-bottom: 100px; }

/*Social Icons*/
#contact .social-icons {
  margin-top: 50px;
  margin-bottom: 50px; }

#contact .social-icons .fa {
  font-size: 35px;
  padding: 5px; }

/* svg */
.svg-wrapper {
  height: 100px;
  width: 300px;
  margin: 0 auto; }

.svgcolor-light, .svgcolor-dark {
  position: relative;
  top: -2px;
  z-index: 3; }

.svgcolor-light path {
  fill: white;
  stroke: white;
  stroke-width: 0; }

.svgcolor-dark path {
  fill: white;
  stroke: white;
  stroke-width: 0; }

.no-section-padding {
  padding-top: 0px; }

.section-padding {
  padding-top: 100px; }

/* BUTTONS */
.btn.center {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.btn{


font-weight: 400;
font-size: 14px;
background-color: #0066cc00;
padding: 10px 30px;
border: none;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1900ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
text-transform: uppercase;
}

.btn:hover{

transition : 1900ms;
padding: 10px 49px;
transform : translateY(-13px);
background-color: #9c79c700;
color: #8429FF;

}






.intro__scroll {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 24px;
  height: 70px;
  overflow: hidden;
}
.intro__scroll::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 12px;
  width: 1px;
  height: 100%;
  background-color: #ffffff;
  -webkit-animation: scrollBtn 1s ease-in-out 0s infinite;
     -moz-animation: scrollBtn 1s ease-in-out 0s infinite;
          animation: scrollBtn 1s ease-in-out 0s infinite;
}

/*social media*/





/*Footer*/
footer {
  text-align: center;
  font-size: 10px;
  line-height: 1.5;
  border-radius: 3px;
  border-top-style: solid;
  padding-top: 30px;
  padding-bottom: 15px;
  background: #27292E;
  color: silver;
  z-index: 3;
  position: relative; }

/* @media Device Style*/
@media (min-width: 768px) {
  body {
    overflow-x: hidden;
    background: url("../img/pic2.jpg") no-repeat center center;
    background-attachment: scroll;
  }
  .intro {
    height: 100%;
    padding: 0; }
  .intro .intro-body .brand-heading {
    font-size: 80px; 
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
    color: #777; }
  .fa {
    padding: 0; } }

@media (min-width: 320px) {
  body {
    overflow-x: hidden;
    background: url("../img/pic2.jpg") no-repeat center center;
    background-attachment: scroll; }
  section#resume {
    padding-top: 0px; }
  .col-lg-3.title {
    margin-bottom: 30px; }
  p.box.small {
    padding: 5px;
    margin-bottom: 0px;
    text-align: left; }
  .intro {
    height: 100%;
    padding: 0;
    text-align: center; }
  .intro .intro-body .intro-text {
    font-size: 26px; }
  .fa {
    padding: 0; } }
